@import 'src/theme/variables';

ion-content {
    --padding-start: 1.6rem;
    --padding-end: 1.6rem;
    --padding-bottom: 4rem;
}

.home-tab {
    .home-page-wrapper {
        max-width: 400px;
        margin: auto;

        info-box {
            display: block;
            margin-bottom: 2.5rem;

            .data-points {
                margin-top: 2rem;
            }
        }

        section-label {
            display: block;
            margin-bottom: 2rem;
        }

        ion-grid {
            --ion-grid-padding: 0;
            margin: -1rem;
        }

        ion-col {
            --ion-grid-column-padding: 0.8rem;
        }
    }

    .no-categories {
        width: 100%;
        font-size: 2rem;
        text-align: center;

        .no-categories-label {
            margin-bottom: 1rem;
        }
    }
}
