<ion-content class="login-page">
    <div class="login-page-title">
        <h1>OneCart</h1>
    </div>

    <p class="p-larger fw-light ta-center login-instructions">
        <!-- Use your Phone Number to get a <br />One Time Password to -->
        <b>Login</b> or
        <b>Register</b>
    </p>

    <div #loginFormBox class="login-form" [@fadeIn]>
        <div class="password-log-in" *ngIf="showPasswordLogin">
            <form
                *ngIf="showCreateAccountForm"
                [formGroup]="createAccountFormGroup"
                (ngSubmit)="submitCreateAccountForm()"
            >
                <app-input
                    inputLabel="Email"
                    type="email"
                    inputmode="email"
                    autocomplete="email"
                    formControlName="email"
                    [formControl]="createEmailFormControl"
                >
                    <div *ngIf="createEmailFormControl.errors?.required">
                        Please enter your email address
                    </div>

                    <div *ngIf="createEmailFormControl.errors?.email">
                        Please enter a valid email address
                    </div>
                </app-input>
                <app-input
                    inputLabel="Password"
                    type="password"
                    inputmode="password"
                    autocomplete="password"
                    formControlName="password"
                    [formControl]="createPasswordFormControl"
                >
                    <div *ngIf="createPasswordFormControl.errors?.required">
                        Please enter a password
                    </div>
                </app-input>
                <app-input
                    inputLabel="Confirm Password"
                    type="password"
                    inputmode="password"
                    autocomplete="password"
                    formControlName="confirmPassword"
                    [formControl]="createConfirmPasswordFormControl"
                >
                    <div
                        *ngIf="createConfirmPasswordFormControl.errors?.required"
                    >
                        Please confirm your password
                    </div>
                    <ng-container
                        *ngIf="!createConfirmPasswordFormControl.errors?.required"
                    >
                        <div *ngIf="passwordsDoNotMatch">
                            Password do not match
                        </div>
                        <div
                            *ngIf="(createAccountError$ | async) === authErrorType.WeakPassword"
                        >
                            Password is too weak
                        </div>
                        <div
                            *ngIf="(createAccountError$ | async) === authErrorType.EmailExists"
                        >
                            This email is already in use
                        </div>
                        <div
                            *ngIf="(createAccountError$ | async) === authErrorType.GenericCreateError"
                        >
                            There was an error creating your account, please try
                            again
                        </div>
                    </ng-container>
                </app-input>
                <app-button
                    class="login-button"
                    type="submit"
                    [submitting]="submittingCreateAccountForm"
                >
                    Create Account
                </app-button>
                <app-button
                    *ngIf="!submittingCreateAccountForm"
                    fill="clear"
                    (buttonClick)="showCreateAccountForm = false"
                >
                    Sign In
                </app-button>
            </form>

            <form
                *ngIf="!showCreateAccountForm && !showResetPasswordForm"
                [formGroup]="passwordLoginFormGroup"
                (ngSubmit)="submitPasswordLoginForm()"
            >
                <app-input
                    inputLabel="Email"
                    type="email"
                    inputmode="email"
                    autocomplete="email"
                    formControlName="email"
                    [formControl]="loginEmailFormControl"
                >
                    <div *ngIf="loginEmailFormControl.errors?.required">
                        Please enter your email address
                    </div>

                    <div *ngIf="loginEmailFormControl.errors?.email">
                        Please enter a valid email address
                    </div>
                </app-input>
                <app-input
                    inputLabel="Password"
                    type="password"
                    inputmode="password"
                    autocomplete="password"
                    formControlName="password"
                    [formControl]="loginPasswordFormControl"
                >
                    <div *ngIf="loginPasswordFormControl.errors?.required">
                        Please enter a password
                    </div>
                    <ng-container
                        *ngIf="!loginPasswordFormControl.errors?.required"
                    >
                        <div
                            *ngIf="(authenticationError$ | async) === authErrorType.EmailNotFound"
                        >
                            No user found with this email
                        </div>
                        <div
                            *ngIf="(authenticationError$ | async) === authErrorType.InvalidPassword"
                        >
                            Invalid password
                        </div>
                        <div
                            *ngIf="(authenticationError$ | async) === authErrorType.GenericLoginError"
                        >
                            There was an error signing you in, please try again
                        </div>
                    </ng-container>
                </app-input>

                <app-button
                    class="login-button"
                    type="submit"
                    [submitting]="submittingPasswordSignInForm"
                >
                    Sign In
                </app-button>
                <app-button
                    *ngIf="!submittingPasswordSignInForm"
                    fill="clear"
                    [style.margin-bottom]="'2rem'"
                    (buttonClick)="showResetPasswordForm = true"
                >
                    Forgot Password
                </app-button>
                <app-button
                    *ngIf="!submittingPasswordSignInForm"
                    fill="clear"
                    (buttonClick)="showCreateAccountForm = true"
                >
                    Create an Account
                </app-button>
            </form>
        </div>
        <!-- <div class="google-sign-in" *ngIf="!allowPhoneLogin">
            <app-button (buttonClick)="signInWithGoogle()">
                Sign in with Google
            </app-button>
        </div> -->

        <form
            [formGroup]="resetPasswordFormGroup"
            (ngSubmit)="sendResetPasswordEmail()"
            *ngIf="showResetPasswordForm"
        >
            <app-input
                *ngIf="!submittedResetPasswordByEmail"
                inputLabel="Email"
                type="email"
                inputmode="email"
                autocomplete="email"
                formControlName="email"
                [formControl]="resetPasswordEmailFormControl"
            >
                <div *ngIf="resetPasswordFormGroup.errors?.required">
                    Please enter your email address
                </div>

                <div *ngIf="resetPasswordFormGroup.errors?.email">
                    Please enter a valid email address
                </div>
            </app-input>

            <app-button
                *ngIf="!submittedResetPasswordByEmail"
                class="login-button"
                type="submit"
                [submitting]="submittingResetPasswordByEmail"
            >
                Send email to Reset Password
            </app-button>

            <div *ngIf="submittedResetPasswordByEmail">
                An email has been sent with instructions to reset your password.
                Once reset, you may login with your new password.
                <br />
                <br />
                <app-button
                    fill="clear"
                    (buttonClick)="showCreateAccountForm = false; showResetPasswordForm = false;"
                >
                    Go Back
                </app-button>
            </div>
        </form>

        <form
            [formGroup]="phoneLoginFormGroup"
            (ngSubmit)="submitPhoneNumber()"
            *ngIf="allowPhoneLogin"
        >
            <app-input
                inputLabel="Phone Number"
                type="tel"
                inputmode="tel"
                autocomplete="tel"
                maxlength="14"
                placeholder="+1 (000) 123 4567"
                formControlName="phoneNumber"
                [disabled]="awaitingVerificationCode$ | async"
                [formControl]="phoneNumberFormControl"
                [pattern]="phoneNumberRegex"
            >
                <div *ngIf="phoneNumberFormControl.errors?.required">
                    Please Enter a Phone Number
                </div>

                <div *ngIf="phoneNumberFormControl.errors?.pattern">
                    Please Enter a Valid Phone Number
                </div>
            </app-input>

            <div
                class="spinner-container"
                *ngIf="!(recaptchaRendered$ | async)"
            >
                <ion-spinner></ion-spinner>
            </div>

            <div
                [hidden]="awaitingVerificationCode$ | async"
                id="recaptcha-container"
            ></div>

            <app-button
                id="submit-phone-login"
                *ngIf="!(awaitingVerificationCode$ | async)"
                expand="block"
                type="submit"
                [submitting]="submittingPhoneNumber"
                [disabled]="!(recaptchaRendered$ | async)"
            >
                Send Code
            </app-button>

            <ng-container *ngIf="awaitingVerificationCode$ | async">
                <app-input
                    inputLabel="Enter Verification Code"
                    type="text"
                    autocomplete="one-time-code"
                    maxlength="6"
                    placeholder="Code"
                    formControlName="verificationCode"
                    [formControl]="verificationCodeFormControl"
                    [pattern]="verificationCodeRegex"
                >
                    <div
                        *ngIf="
                            verificationCodeFormControl.errors?.required ||
                            verificationCodeFormControl.errors?.pattern
                        "
                    >
                        Please Enter your 6 Digit Verification Code
                    </div>
                    <ng-container
                        *ngIf="!(
                            verificationCodeFormControl.errors?.required 
                            || verificationCodeFormControl.errors?.pattern
                        )"
                    >
                        <div
                            *ngIf="(authenticationError$ | async) === authErrorType.InvalidCode"
                        >
                            Invalid code, please try again
                        </div>
                        <div
                            *ngIf="(authenticationError$ | async) && (authenticationError$ | async) !== authErrorType.InvalidCode"
                        >
                            There was an error logging in, please try again
                        </div>
                    </ng-container>
                </app-input>
            </ng-container>
            <app-button
                *ngIf="awaitingVerificationCode$ | async"
                class="login-button"
                expand="block"
                [submitting]="submittingVerificationCode"
                (buttonClick)="submitVerificationCode()"
            >
                Login
            </app-button>
            <app-button
                *ngIf="awaitingVerificationCode$ | async"
                expand="block"
                color="secondary"
                fill="clear"
                (buttonClick)="cancelVerificationCode()"
            >
                Change Number and Resend
            </app-button>
        </form>
    </div>
</ion-content>
