<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="ios-home-alt"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="showAddModal()">
            <div class="add-button-circle">
                <ion-icon name="ios-plus"></ion-icon>
            </div>
        </ion-tab-button>

        <ion-tab-button tab="shop">
            <ion-icon name="ios-shopping-basket"></ion-icon>
        </ion-tab-button>

        <!-- <ion-tab-button tab="lists">
            <ion-icon name="ios-list-alt"></ion-icon>
        </ion-tab-button> -->

        <ion-tab-button tab="categories">
            <ion-icon name="ios-layer-group"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
