@import 'src/theme/variables';

.category {
    .title {
        margin-bottom: 3rem;

        ion-icon {
            font-size: 2.5rem;
            margin-left: 1rem;
            color: $grey-blue;
        }
    }

    info-box {
        display: block;
        margin-bottom: 4.5rem;
    }

    .category-actions {
        display: flex;
        margin-bottom: 2rem;

        .action-button {
            flex-basis: 50%;

            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }
}
