@import 'src/theme/variables';
.category {
    border-radius: 10px;
    user-select: none;
    // height: 100%;
    // overflow-y: scroll;

    .title {
        margin-bottom: 1rem;
        line-height: 1em;

        ion-icon {
            font-size: 2.5rem;
            margin-left: 1rem;
            color: $grey-blue;
        }
    }

    info-box {
        display: block;
        margin-bottom: 2rem;
    }

    .swipe-instructions {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        color: $grey-light;
        line-height: 1rem;

        .swipe-arrow {
            min-width: 2rem;
        }

        .swipe {
            font-size: 1.2rem;
            margin: 0 2rem;
        }
    }

    .category-actions {
        display: flex;
        margin-bottom: 2rem;

        .action-button {
            flex-basis: 50%;

            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }

    .category-items {
        border-radius: 5px;
        background-color: $grey-lightest;
    }
}
