<ion-header>
    <ion-toolbar class="title-toolbar">
        <ion-title size="large">
            {{ (category$ | async)?.categoryName }}
            <ion-icon
                [name]="(category$ | async)?.categoryIcon"
                class="category-icon"
            ></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" [scrollY]="(shouldScrollY$ | async)">
    <div
        class="categories-horizontal-viewport"
        #categoriesViewport
        (scroll)="handleScroll($event)"
    >
        <div
            #category
            *ngFor="let category of (categories$ | async)"
            class="category-wrapper"
            [id]="category.categoryRoute"
        >
            <category [category]="category"></category>
        </div>
    </div>
</ion-content>
