@import 'src/theme/variables';

.info-box {
    padding: 2rem;
    margin: 1rem 0;
    box-shadow: $shadow-box-dark;
    background: $blue-gradient;
    color: $white;

    .data-points {
        display: flex;
        justify-content: space-between;

        .data-point {
            text-align: center;
            max-width: 20%;

            .data-value {
                font-size: 2.4rem;
                margin-bottom: 0.5rem;

                .currency-symbol {
                    font-size: 1.4rem;
                    margin-right: 0.2rem;
                }
            }
        }
    }
}
