@import 'src/theme/variables';

.category-box {
    background-color: $grey-lightest;
    height: 150px;
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid $grey-lightest;
    border: 1px solid $grey-blue-light;
    box-shadow: $shadow-light;
    transition: border 0.4s $ease-out-quart;

    &:hover {
        border: 1px solid $grey-blue;
    }

    ion-icon {
        font-size: 2.4rem;
        position: absolute;
        z-index: 10;
        top: 1.5rem;
        left: 1.5rem;
    }

    .icon-backdrop {
        position: absolute;
        top: 2.8rem;
        left: 2.5rem;
        z-index: 9;

        height: 1.2rem;
        width: 1.2rem;
        background-color: $grey-blue-light;
        border-radius: 1rem;
    }

    .category-icon {
        height: 3.5rem;
    }

    .category-label {
        font-size: 1.2rem;
    }

    .category-cost {
        margin-top: auto;
        color: $blue;
        font-size: 2.4rem;
        font-weight: 500;

        .category-dollar-sign {
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}
