@import 'src/theme/variables';

ion-content.registration-page {
    --background: linear-gradient(135deg, #3187d5 0%, #1b51b6 100%);
    --padding-start: 2rem;
    --padding-end: 2rem;

    .registration-page-title {
        width: 100%;
        text-align: center;
        color: $white;
        padding-top: 12rem;
        margin-bottom: 5rem;
    }

    .registration-instructions {
        margin-bottom: 2.5rem;
        color: $white;
    }

    .registration-form {
        padding: 2rem;
        background-color: $white;
        box-shadow: $shadow-box-normal;
        border-radius: $border-radius;
        margin: auto;
        max-width: 50rem;
        transition: height 500ms;
    }

    .registration-button {
        margin-bottom: 2rem;
    }
}
