<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702148074604-pdrkovs92qh7jmun8lfk43pfsr7h521m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702148074604-pdrkovs92qh7jmun8lfk43pfsr7h521m</string>
	<key>API_KEY</key>
	<string>AIzaSyCKvfPueQUIf8Ar0myDIn9gR6FOvYKC3CE</string>
	<key>GCM_SENDER_ID</key>
	<string>702148074604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onecart.app</string>
	<key>PROJECT_ID</key>
	<string>onecart-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>onecart-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702148074604:ios:9d493f0bb0f3f6887a8c49</string>
	<key>DATABASE_URL</key>
	<string>https://onecart-prod.firebaseio.com</string>
</dict>
</plist>